.scg-import-form {
  position: relative;
}

.scg-import-form .edd-progress {
  background: #ddd;
  position: relative;
  width: 30%;
  z-index: 1;
  display: inline-block;
  height: 30px;
  float: left;
  margin: 0 0 7px;
}

.scg-import-form .edd-progress div {
  background: #ccc;
  height: 100%;
  width: 0;
}

.scg-import-form .notice-wrap {
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 1px 0;
  border-color: #eae9e9;
  padding: 12px 12px 4px;
  overflow: auto;
  margin: 20px -12px -23px;
  position: relative;
  width: 100%;
}

.scg-import-form .notice-wrap .spinner {
  margin: 4px 15px 10px;
  float: left;
}

.admin-color-fresh .scg-import-form .edd-progress div {
  background: #0073aa;
}

.admin-color-light .scg-import-form .edd-progress div {
  background: #888;
}

.admin-color-blue .scg-import-form .edd-progress div {
  background: #096484;
}

.admin-color-coffee .scg-import-form .edd-progress div {
  background: #c7a589;
}

.admin-color-ectoplasm .scg-import-form .edd-progress div {
  background: #a3b745;
}

.admin-color-midnight .scg-import-form .edd-progress div {
  background: #e14d43;
}

.admin-color-sunrise .scg-import-form .edd-progress div {
  background: #dd823b;
}

.scg-import-form .button-secondary:focus {
  outline: none;
}

.scg-import-form .current-status {
  display: inline-block;
  margin: 10px 0 0;
  color: green;
  font-weight: bold;
}

.scg-import-form .current-status.hide {
  display: none;
}

.scg-import-form .current-status.importing {
  color: #FF8F00
}

.scg-import-logs #import_log_datetime {
  width: 140px;
}

.scg-import-logs #import_log_items {
  width: 54%;
}

.scg-import-logs #import_log_sheet_names {
  width: 125px;
}

.scg-import-logs td {
  color: #000;
  vertical-align: middle !important;
}

.scg-import-logs td ol {
  margin: 0 0 0 1em;
}

.scg-import-logs .tablenav {
  display: none;
}

.scg-casino-trackers-settings .checkbox {
  margin: 0 0 3px;
}

.scg-casino-trackers-settings .checkbox:last-child {
  margin: 0;
}

.scg-casino-trackers-settings input[type=checkbox] {
  margin: 0;
}

.scg-casino-trackers-settings .checkbox label {
  display: inline-block;
}

.scg-casino-trackers-settings .checkbox label span {
  margin: 0 0 0 3px;
  vertical-align: middle;
}

.casino-trackers-ratings-import .casino-ratings-count {
  font-size: 16px;
  margin: 20px 0;
}

.cancel-import {
  margin-bottom: 10px;
}

.import-pending-count {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 30px;
}